@font-face {
    font-family: "8bitoperator JVE";
    src: url("8bitoperator-JVE.woff2") format("woff2"),
      url("8bitoperator-JVE.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Minecraftia";
    src: url("Minecraftia-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.home{
    background-color: #44CF6C;
    min-height: 100vh
}

.home .title, .pageName{
    font-family:Arial, Helvetica, sans-serif;
}

.home .title{
    margin: 0%;
    color: white;
    text-align: center;
}

.home .pageName{
    color: white;
    text-align: center;
}

.quizzes{
    text-align: center;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: left;
   
    
}

.quizzes .quizButton{
    background-color: black;
    border: none;
    margin: 5%;
    color: white;
    
}

.quizzes #UTButton{
    background-image: url("src/assets/ut/img/bigSoul.png");
    background-color: transparent;
    height: 100px;
    width: 100px;
    background-size: 100%;
    font-family: "8bitoperator JVE";
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: normal;
    
}

.quizzes #MCButton{
    background-image: url("src/assets/mc/grass_block.png");
    background-color: transparent;
    height: 100px;
    width: 100px;
    background-size: 100%;
    font-family: "Minecraftia";
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: normal;
}

.container{
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
}

.navbar {
    height: 60px;
    background-color: #A9FDAC;
    position: relative;
  }

.main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: #F1FFE7;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 350px;
  
  }
  
.elements ul{
    list-style: none;
    
}

.cat{
    color: red;
    text-decoration: none;
}