@font-face {
  font-family: "Minecraftia";
  src: url("Minecraftia-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* main div */
.minecraftPop {
  background-color: green;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* title */
.minecraftPop h1 {
  font-family: "Minecraftia";
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

/* question card details */
.minecraftPop .question-txt {
  font-family: "Minecraftia";
  font-weight: normal;
  text-align: center;
  color: white;
  margin: 0;
}

.minecraftPop .question-card {
  font-family: "Minecraftia";
  font-weight: normal;
  color: white;

  width: 500px;
  height: 300px;
  border: solid;
  border-color: black;

  margin-left: 13%;
  margin-right: 12%;
}

.minecraftPop ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 60px);
  column-gap: 5px;
  list-style: none;
}

.minecraftPop .option {
  text-align: center;

  width: 200px;
  height: 30px;
  text-shadow: 3px 3px 0px #3e3e3e;
  font-weight: normal;
  font-size: 16px;
  border-style: solid;
  border-color: black;

  padding-top: 2px;
  margin-top: 2px;
  right: 50px;

  background: gray;
}

.minecraftPop .option:hover {
  background: lightskyblue;
  border-color: white;
  color: lightgoldenrodyellow;
}

.minecraftPop .home-btn {
  text-align: center;

  width: 434px;
  height: 30px;
  text-shadow: 3px 3px 0px #3e3e3e;
  font-weight: normal;
  font-size: 18px;
  border-style: solid;
  border-color: black;

  margin-top: 2px;
  margin-left: 8%;
  padding-top: 2px;

  background: gray;
}

.minecraftPop .home-btn:hover {
  background: lightskyblue;
  border-color: white;
  color: lightgoldenrodyellow;
}

.minecraftPop .buttons {
  margin-top: -15px;
}

.minecraftPop .minecraft-link{
  color:white;
  background-color: transparent;
  text-decoration: none;
}
