@font-face {
  font-family: "8bitoperator JVE";
  src: url("8bitoperator-JVE.woff2") format("woff2"),
    url("8bitoperator-JVE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "8bitwonder";
  src: url("8-bit-wonder.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "crypt of tomorrow";
  src: url("crypt-of-tomorrow-ut-font-no-rus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* main div */
.undertale {
  background-color: black;
  min-height: 100vh;
  cursor: url("src/assets/ut/red_SOUL_sprite.png"), auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* title */
.undertale h1 {
  font-family: "8bitoperator JVE";
  color: white;
  text-align: center;
  padding-top: 1%;
  letter-spacing: 1px;
  font-size: 45px;
  font-weight: normal;
}

.undertale h2,
h3 {
  font-family: "8bitoperator JVE";
  font-weight: normal;
}


/* game over details */

.undertale .gameOverTitle{
  font-family: "8bitwonder";
  font-size: 135px;
  color: white;
  margin: 1%;
  text-align: center;

}

.undertale .gameOverText{
  font-family: "8bitwonder";
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 25%;
  text-align: left;
  color: white; 
}

.undertale .gameOvrTxt{

  font-size: 45px;
  font-weight: normal;
  font-family: "8bitoperator JVE";
  letter-spacing: 10px;
  margin:0;
  padding:0
  


}


/* question card details */
.undertale .question-txt {
  font-family: "8bitoperator JVE";
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  color: white;
}

.undertale .question-card {
  margin: auto;
  width: 700px;
  height: 150px;
  border-style: solid;
  border-color: white;
  border-width: 6px;
  padding: 16px;
  color: white;
}

/* list details */
.undertale ul {
  margin: 0%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  column-gap: 10%;
  row-gap: 25%;
  list-style: none;
  padding-right: 5%;
}

.undertale li {
  margin-top: -28px;
}

.undertale .option {
  text-align: center;
  font-size: 36px;
  font-family: "8bitoperator JVE";
  font-weight: normal;
}

.undertale .option:hover {
  color: #e1d300;
}

/* button details */
.undertale .buttons {
  margin-top: 7%;
  margin-left: -3%;
}

.undertale .home-btn {
  width: 140px;
  height: 60px;
  color: #e67631;
  background-color: black;
  border: 4px solid #e67631;
  font-size: 35px;
  font-family: "8bitoperator JVE";
  font-weight: normal;
}


.undertale .restart-btn {
  width: 140px;
  height: 60px;
  color: #e67631;
  font-size: 35px;
  background-color: black;
  border: 4px solid #e67631;
  font-family: "8bitoperator JVE";
  font-weight: normal;
}

.undertale .home-btn:hover,
.restart-btn:hover {
  border-color: #e1d300;
  color: #e1d300;
  cursor: url("src/assets/ut/red_SOUL_sprite.png"), auto;
}

.undertale .restart-btn {
  width: 140px;
  height: 60px;
  color: #e67631;
  font-size: 35px;
  background-color: black;
  border: 4px solid #e67631;
  font-family: "8bitoperator JVE";
  font-weight: normal;
}

.undertale .home-btn:hover,
.restart-btn:hover {
  border-color: #e1d300;
  color: #e1d300;
  cursor: url("src/assets/ut/red_SOUL_sprite.png"), auto;
}

.undertale .finalTitle {
  font-size: 35px;
  margin: 0;
}

.undertale .numberCorrect {
  font-size: 25px;
}


.undertale .playerInfo {
  color: white;
  font-size: 9px;
  font-family: "crypt of tomorrow";
  display: inline;
}

.undertale .results {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border-style: solid;
  border-color: white;
  border-width: 6px;
  padding: 16px;
  color: white;
  font-family: "8bitoperator JVE";
  font-weight: normal;
}


.undertale .LOVE,
.bottomQuestionTxt,
.bottomQuestionTxt {
  display: inline;
}
.undertale .LOVE {
  margin: 22px;
}

.undertale .bottomQuestionTxt {
  margin: 30px;
  font-size: 6px;
}

.undertale .hpBox {
  margin-right: 20px;
  width: 100px;
  height: 20px;
  background-image: linear-gradient(yellow 100%, yellow 100%);
  display: inline;
}



/* animation details */
#resetIMG {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 6s;
}

.shakeBox{
  animation: shake 200ms;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  95% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  25% { transform: translate(-1px, -2px) rotate(-1deg); }
  75% { transform: translate(-3px, 0px) rotate(1deg); }
  100% { transform: translate(3px, 2px) rotate(0deg); }
  
}

.cursorHide {
  cursor: none;
}


